@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Roboto:300,400');
body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	padding: .25em .5em;
	color:rgb(40,40,40);
	background: rgb(255, 241, 209)
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:3em;
	font-weight: 900
}

h2 {
	/*font-family: 'Montserrat', sans-serif;*/
	font-size:1.25em;
	font-weight: 400
}

img.profile_pic {
	height: 4em;
    width: 4em;
    border-radius: 2em;
    position: absolute;
    right: 1em;
    top: .75em
}

.album {
	width: 150px;
    /*background: aqua;*/
    /*display: inline-block;*/
    float: left;
    margin-bottom: 1em;
    margin-right:3em;
    height:220px;
    cursor: pointer;
}

.album:hover {
    opacity: .8;
}

.buttony {
	display: inline-block;
    background: brown;
	color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    /* border-radius: .5em; */
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 3em; */
    font-weight: 700;
    transition: all .2s linear;
    cursor: pointer;
    border-radius: 0 .5em 0 .5em;
}


.buttony:hover {	
	background: burlywood;
    color: rgb(40,40,40);
}

.buttons {
	margin-bottom:1em;
}

.buttons:after {
    content: '';
    display: block;
    clear: both;
} 

.left_floated {
	float: left;
	margin-right:2em;
}

.modal {
	background: rgba(250,60,60,.97);
    padding: 1em 1.5em;
    border-radius: 0 .75em;
    border: 3px solid brown;
    position: fixed;
    color: wheat;
    display: none;
    z-index: 666;
}

.tracks {
    margin: 0;
    padding: 0;
}

.track {
    list-style: none;
    /* padding: 0; */
    border: 2px solid brown;
    padding: .5em;
    /* text-transform: uppercase; */
    margin: 0 0 .5em 0;
    font-size: .9em;
    border-radius: .25em;
    transition: background ease-in .2s;
}